section1 {
    background-color: darksalmon;
    color: white;
}
.mysite:hover {
    color: lightgray;
}
.mysite {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}
.aboutus {
    display: inline-block;
    cursor: pointer;
    margin-left: 85%;
}
.form {
    display: inline-block;
    cursor: pointer;
}
.section2 {
    background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_548298907_9706479704500126_78156.jpg) ;
    padding-top: 10px;
    padding-bottom: 100px;
    

}
.devstock {
    color: darksalmon;
    font-size: 50px;
    margin-left: 30px;
}
.section3 {
    text-align: center;
}
h3 {
    color: grey;
}
h4 {
    color: lightslategray
}

.article {
    display: inline-block;
    font-family: initial;
    font-size: 19px;
    text-align: center;
    background-color: linen;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 30px 10px 30px 40px;
    width: 320px;
    transition-duration: 1s;
    transition-property: all;
    cursor: pointer;
}
.article:hover {
    transform: scale(1.10);
    outline: 1px solid lightslategray;
}
.section4 {
    background-color: darksalmon;
    display: inline-block;

}


.articles {
    text-align: center;
}
footer {
    display: flex;
    justify-content: space-between;
    height: 40vh;
    background-color: #e9967a;
  }
  
.aboutus {
    width: 30%;
    margin: 20px;
  }

  
img {
    height: 60%;
    margin-top: 90px;
  }
.login {
    display: inline-block;
    width: 200px;
    margin-right: 10%;
  }
